<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- include navigation -->
  <% include ../partials/nav.ejs %>

  <!-- main body -->
  <div class="jumbotron text-center">
    <div class="container">
      <% if (user) { %>
        <p> You are already logged in as <%= user.username %>! <a href="/logout"> log out </a></p>
      <% } else { %>
      <h1>Register</h1>
      <div class="row">
        <form action="/auth/register" method="post" class="col s12 m4">
          <div class="row">
	          <div>
	            <label>Username:</label>
	              <% if (pagestatus && pagestatus.code === 401 && pagestatus.elem === 'username') { %>
                  <p style="color:red;"><%= pagestatus.msg %></p>
                <% } %>
                <input type="text" name="username"/><br/>
	          </div>
	          <div>
	            <label>E-mail:</label>
	              <% if (pagestatus && pagestatus.code === 401 && pagestatus.elem === 'email') { %>
                  <p style="color:red;"><%= pagestatus.msg %></p>
                <% } %>
	            <input type="email" name="email"/>
	          </div>
	          <div>
	            <label>Referrer:</label>
	              <% if (pagestatus && pagestatus.code === 401 && pagestatus.elem === 'referrer') { %>
                  <p style="color:red;"><%= pagestatus.msg %></p>
                <% } %>
	            <input type="text" name="referrer"/>
	          </div>
	          <div>
	            <label>Invitation Code:</label>
	              <% if (pagestatus && pagestatus.code === 401 && pagestatus.elem === 'invicode') { %>
                  <p style="color:red;"><%= pagestatus.msg %> </p>
                <% } %>
	            <input type="text" name="invicode"/>
	          </div>
	          <div>
	            <label>Password:</label>
	            <input type="password" name="password"/>
	          </div>
	          <div>
	            <input type="submit" value="Register"/> | <a href="/login">Login</a>
	          </div>
        </form>
      </div>
      <% } %>
    </div>
  </div>


  <% include ../partials/scriptsInHtml.ejs %>
</body>
</html>
